@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    padding: 10px;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: slategrey;
    font-family: 'Montserrat', sans-serif;
}

.testimonial {
    line-height: 28px;
    text-align: justify;
}

.testimonial-container {
    color: #fff;
    max-width: 768px;
    margin: 20px auto;
    padding: 50px 80px;
    position: relative;
    border-radius: 15px;
    background-color: #476ce4;
}

.fa-quote {
    top: 70px;
    font-size: 28px;
    position: absolute;
    color: rgba(255, 255, 255, 0.3);
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.user .user-details {
    margin-left: 10px;
}

.user .username {
    margin: 0;
}

.user .role {
    margin: 10px 0;
    font-weight: normal;
}

.progress-bar {
    width: 100%;
    height: 4px;
    transform-origin: left;
    background-color: tomato;
    animation: grow 10s linear infinite;
}

@media (max-width: 768px) {
    .testimonial-container {
        padding: 20px 30px;
    }
    .fa-quote {
        display: none;
    }
}

@keyframes grow {
    0% {
        transform: scaleX(0);
    }
}
